//-- Main --//
// bower:scss
// endbower


@import "base";

// From old version:
*{margin:0;padding:0;border:0;}
body,html{overflow:hidden;min-height:100%;height:100%;background:#000;}
#wrapper{width:100%;height:100%;position:relative;overflow:hidden;padding:400px 0;}
#_wrapper:after{content:'';position:absolute;z-index:200;width:100%;height:100%;left:0;top:0;}
iframe{display:block;position:absolute;z-index:100;left:0;right:0;top:-385px;bottom:0;width:100%;height:100%;background:#111;border:0;overflow:hidden;}
#somafm{visibility:hidden;}
iframe.hide{display:none;}
#vimeo{z-index:150;}
#map{display:block;position:absolute;z-index:400;right:20px;bottom:20px;width:320px;height:160px;background:none;overflow:hidden;background:none;opacity:.9;border-radius:4px;background:#000;}
a[href*="terms_maps.html"],img[src*="http://maps.gstatic.com/mapfiles/api-3/"]{display:none!important;}


a {
  color: $c_primary;
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}
.title {
	@include visuallyhidden;
}
.footer {
	display: block;
	position: absolute;
	left: 20px;
	bottom: 20px;
	z-index: 200;
	opacity: 0.7;
	transition: all ease 0.3s;
	&:hover{
		opacity: 1;
	}
}
.btn{
	background: rgba(0,0,0,0.7);
	color: #fff;
	padding: 4px 10px;
	border-radius: 3px;
	text-decoration: none;
	cursor: pointer;
	font-family: sans-serif;
	transition: all ease 0.3s;
	font-size: 0.85em;
	margin-right: 20px;
	opacity: 0.5;
	&:hover{
		background: black;
		opacity: 1;
	}
}
